# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.build/
/build/
/dist/
.eggs/
.env
.venv
venv/
.envrc
*.sqlite3
*.exe

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
data/astraion.db
data/backups/20250825-1339.db data/backups/20250825-1344.db data/backups/20250825-1533.db data/backups/20250825-1606.db
*.db
